/* =========================
   VARIABLES GLOBALES
   ========================= */
:root {
  /* Tipografía */
  --font-main: 'Inter', system-ui, sans-serif;

  /* Colores base (LIGHT MODE) */
  --bg-main: #58cc02;
  --bg-accent: #89e219;

  --card-bg: #ffffff;
  --card-border: #89e219;

  --text-main: #4b4b4b;
  --text-muted: #777777;

  --primary: #58cc02;       /* Verde */
  --primary-hover: #89e219;

  --danger: #ff4b4b;
  --help: #1cb0f6;
  --help-hover: #2b70c9;

  --player-one: #ff4b4b;
  --player-two: #1cb0f6;
  --player-three: #ffc800;
  --player-four: #ce82ff;
}

/* =========================
   RESET
   ========================= */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* =========================
   BODY
   ========================= */
body {
  font-family: var(--font-main);
  background: var(--bg-main);
  color: var(--text-main);
}

a {
  color: var(--help);
  text-decoration: underline;
  font-weight: 500;
}

a:hover {
  color: var(--help-hover);
}

#app {
  margin: 0 auto;
}

.big-text {
  font-family: var(--font-main);
  font-weight: 500;
  margin: 1rem;
  color: var(--card-bg);
  font-size: 4rem;
}

.big-input {
  width: 70%;
  padding: 0.9rem 1rem;
  border: 2px solid var(--primary);
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  color: var(--bg-main);
  background: white;
}

.big-input:focus {
  outline: none;
  color: var(--bg-accent)
}

.input-row {
  border: None;
  display: flex;
  gap: 0.75rem;
  background-color: var(--bg-accent);
  color: var(--text-main);
}

.page-center .pool-counter {
  text-align: center;
  font-size: 20rem;
  font-weight: 600;
  padding-top: 4rem;
}

.page-center .pool-counter.uncompleted {
  color: var(--text-main);
}

.page-center .pool-counter.completed {
  color: var(--card-bg);
}

.page-center .pool-counter.error {
  color: var(--danger);
}

.mini-hint {
  bottom: 0.75rem;
  right: 0.75rem;

  font-size: 0.5rem;
  color: var(--bg-accent);
  max-width: 70%;
}

.sub-options {
  font-size: 0.5rem;
  padding-left: 2rem;
}

/* =========================
   TEXT STACk
   ========================= */
.text-stack {
  display: flex;
  flex-direction: column; /* ← apila hacia abajo */
  gap: 0.25rem;           /* espacio entre textos */
}

/* =========================
   CARD CONTAINER
   ========================= */
.page-center {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background: var(--card-bg);
  padding: 2rem;
  width: 100%;
  max-width: 420px;
  text-align: center;
}

/* =========================
   MEMBERS CARD CONTAINER
   ========================= */
.invisible-card {
  background: none;
  padding: 2rem;
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.invisible-card p {
  color: var(--bg-accent);
  font-size: 1.5rem;
}

.invisible-card strong {
  color: var(--card-bg);
  font-size: 1.7rem;
}

/* =========================
   MEMBERS CARD CONTAINER
   ========================= */

.members-card {
  background: var(--card-bg);
  padding: 2rem;
  width: 100%;
  max-width: 1000px;
  text-align: center;
}


.members-card h1 {
  color: var(--bg-main);
}

.members-card label {
  display: inline-block;   /* NOT block */
  max-width: 100%;
  font-weight: 1000;
  padding: 0.5rem;
  margin: 0.3rem;
  font-size: 1.5rem;  
  white-space: normal;     /* normal wrapping */
  word-break: normal;      /* never break words */
  overflow-wrap: normal;   /* wrap only at spaces */
}


.members-card button {
  background-color: var(--bg-main);
  padding: 0.5rem;
  margin: 0.3rem;
  border: None;
  color: var(--card-bg);
  font-weight: 500;
  cursor: pointer;
}

.members-card button:hover {
  transform: scale(1.1);
  background-color: var(--primary-hover);  
}

.members-card button.inactive {
  color: var(--text-muted);
  background-color: var(--text-main);
}

.members-card p {
  color: var(--text-main);
  font-size: 0.8rem;
}

.members-card strong {
  color: var(--bg-accent);
}

.members-card hint {
  position: absolute;
  bottom: 0.75rem;
  left: 0.75rem;

  font-size: 0.8rem;
  color: #777;
  max-width: 70%;
}

/* =========================
   BUTTONS
   ========================= */
.btn {
  display: inline-block;
  border: None;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 0.95rem;
  cursor: pointer;
}

.btn-disabled {
  opacity: 0.6;
  pointer-events: none;
}

/* =========================
   BUTTONS PRIMARY
   ========================= */
.btn-primary {
  background: var(--primary);
  color: white;
}

.btn-primary:hover {
  transform: scale(2.0);
  background: var(--primary-hover);
}

.btn-primary:active {
  transform: scale(20.0);
}

/* =========================
   BUTTONS SECONDARY
   ========================= */

.btn-secondary {
  background: var(--card-bg);
  color: var(--bg-accent)
}

.btn-secondary:hover {
  transform: scale(2.0);
  background: var(--text-main);
  color: var(--card-bg)
}

.btn-secondary:disabled {
  pointer-events: none;
  background-color: var(--text-main);
  color: var(--text-muted)
}

.btn-secondary:active {
  transform: scale(20.0);
}



/* =========================
   DOTS LOADER
   ========================= */
.dots-loader {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.dots-loader span {
  width: 25px;
  height: 25px;
  background: var(--text-muted);
  opacity: 0.25;
  animation: dotPulse 1.2s infinite ease-in-out;
}

/* Colores por dot */
.dots-loader span:nth-child(1) {
  background: var(--player-one);
  animation-delay: 0s;
}

.dots-loader span:nth-child(2) {
  background: var(--player-two);
  animation-delay: 0.15s;
}

.dots-loader span:nth-child(3) {
  background: var(--player-three);
  animation-delay: 0.3s;
}

.dots-loader span:nth-child(4) {
  background: var(--player-four);
  animation-delay: 0.45s;
}

@keyframes dotPulse {
  0% {
    opacity: 0.25;
    transform: scale(0.8);
  }
  30% {
    opacity: 1;
    transform: scale(1.2);
  }
  60% {
    opacity: 0.25;
    transform: scale(0.8);
  }
  100% {
    opacity: 0.25;
    transform: scale(0.8);
  }
}

/* =========================
   GAME LOOP INTERFACE
   ========================= */
.message-interface {
  position:relative;

  background: var(--card-bg);
  
  min-height: 400px;
  width: 100%;
  max-width: 420px;
  margin: 16px auto;

  display: flex;
  flex-direction: column;
  gap: 6px;

  font-family: system-ui, sans-serif;
}

.grey-header {
  height: 60px;
  margin-bottom: 20px;
  background: var(--text-main);
}
.grey-footer {
  position:absolute;
  align-self: center;
  border-radius: 10px;
  bottom: 5%;
  width: 85%;
  height: 10%;
  background: var(--text-muted);
}

.date-header {
    align-self: center;
    font-size: 0.9rem;
    color: var(--text-main);
    margin-bottom: 5%;
}

.scrollable-msg {
    position: relative;

    max-width: 80%;
    max-height: 170px;
    width: 80%;
    padding: 5px 20px 25px 20px;

    background: var(--bg-accent);
    color: var(--card-bg);

    white-space: pre-line;

    border-radius: 0px 14px 14px 14px;

    font-size: 0.95rem;
    line-height: 1.4;

    overflow:hidden;

    align-self:center;
    word-wrap: break-word;
}

.time-footer {
    position:absolute;
    bottom: 5px;
    right: 8px;

    font-size: 0.7rem;
    color: var(--card-bg);
}


.game-timer {
    width: 200px;
    height: 200px;
    border-radius: 50%;

    background: var(--card-bg);
    color: var(--bg-accent);
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 2.4rem;
    font-weight: bold;

    margin-bottom: 20px;
}

.game-answer {
    width: 100%;
    max-width: 200px;
    height: 56px;

    margin: 5px;

    display: flex;
    align-items: center;
    gap: 20px;

    padding: 16px;

    color: var(--card-bg);

    font-size: 1rem;
    font-weight: 500;

    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;

    min-width: 0;
    overflow:hidden;
}

.game-answer.correct {
  font-size: 1.5rem;
  font-weight: 700;;
}

.game-answer.incorrect {
  opacity: 0.4;
}

.game-answer:nth-of-type(2) {
  background: var(--player-one);
}

.game-answer:nth-of-type(3) {
  background: var(--player-two);
}

.game-answer:nth-of-type(4) {
  background: var(--player-three);
}

.game-answer:nth-of-type(5) {
  background: var(--player-four);
}

.game-answer-icon {
  color: var(--card-bg);

  display: flex;
  align-items: center;
  justify-content: left;

  font-weight: bold;
  font-size: 1.5rem;
}

.score-display {
  background-color: var(--card-bg);
  color: var(--text-main);

  margin: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  font-size: 25px;
}

.score-display .rank {
  width: 32px;
  text-align: left;
  font-weight: bold;
}

.score-display .username {
  flex: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.score-display .score {
  min-width: 80px;
  text-align: right;
  font-weight: bold;
}

/* =========================
   MOBILE
   ========================= */
  
.page-mobile {
  display: flex;
  height: 100vh;
  place-items: center;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-main);
  background: var(--bg-main);
  color: var(--text-main);
}

.page-mobile h1 {
  font-family: var(--font-main);
  text-align: center;
  justify-content: center;
  font-weight: 1000;
  margin: 1rem;
  color: var(--card-bg);
  font-size: 2rem;
  padding-bottom: 20px;
}

.page-mobile .big-text {
  font-family: var(--font-main);
  font-weight: 500;
  color: var(--card-bg);
  font-size: 2rem;
}

.page-mobile input {
  border: None;
  margin: 10px;
  font-size: 16px;
  background-color: var(--card-bg);
  color: var(--text-main);
  padding: 10px 20px 10px 20px;
  font-weight: 1000;
}

.page-mobile input::placeholder {
  color: var(--text-muted);
  font-weight: 500;
}

.page-mobile button {
  background-color: var(--card-bg);
  color: var(--bg-main);
  display: inline-block;
  border: None;
  padding: 10px 20px;
  font-family: inherit;
  font-size: 0.95rem;
  cursor: pointer;
}

.page-mobile button:active {
  background-color: var(--bg-accent);
  transform: scale(1);
}

.game-grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.game-grid .game-answer {
  width: 100%;
  height: 100%;

  border: none;
  padding: 0;
  margin: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2.5rem;
  font-weight: bold;
}

.game-grid .game-answer:nth-of-type(1) {
  background: var(--player-one);
}

.game-grid .game-answer:nth-of-type(2) {
  background: var(--player-two);
}

.game-grid .game-answer:nth-of-type(3) {
  background: var(--player-three);
}

.game-grid .game-answer:nth-of-type(4) {
  background: var(--player-four);
}

.game-grid .game-answer.unselected {
  opacity: 0.4;
  pointer-events: none;
}

.pool-counter {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  padding-top: 4rem;
}

.pool-counter.uncompleted {
  color: var(--text-main);
}

.pool-counter.completed {
  color: var(--card-bg);
}

.pool-counter.error {
  color: var(--danger);
}

.pool-selection {
  background-color: var(--card-bg);
  margin: 1rem;
  padding: 1rem;
  gap: 0.5rem;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.pool-selection button {
  padding: 12px;
  background-color: var(--text-main);
  color: var(--text-muted);
  text-align: left;
  font-size: 14px;
  cursor: pointer;
}

.pool-selection button.selected {
  background-color: var(--bg-accent);
  color: var(--card-bg)
}

.page-mobile .send-button {
  display: inline-block;
  border: None;
  padding: 1rem;
  margin-bottom: 3rem;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}

.page-mobile .send-button:disabled {
  background-color: var(--text-main);
  color: var(--text-muted);
  pointer-events: none;
  cursor: not-allowed;
}
